html,body{ overflow:hidden}
h1{ margin:20px; text-align:center}
h1 sup{ font-size:12px; color:#F60}
h4{ color:#f00; text-decoration:underline}
.pageInfo{ position:absolute; left:0px; top:0px; z-index:-1}

/*游戏相关样式 Download by http://www.codefans.net*/
#canvas{ width:400px; margin:0 auto; text-align:center; position:relative; background:#fff}
#canvas table,#canvas td{ border-collapse:collapse; border-color:#ccc}
#canvas .b{ background:#0C0}
#canvas .head{ background:#00F}
#canvas .food{ background:#f00}
#start,#pause,#over{ position:absolute; width:398px; height:419px; overflow:hidden; left:1px; top:1px; text-align:center; line-height:250px; font-size:40px; filter:alpha(opacity=70); opacity:0.7}
#start{ font-size:28px; background:url(../images/snake_start.png) #F7F7F7 20px center no-repeat}
#pause{ display:none; background:url(../images/snake_pause.png) #F7F7F7 20px center no-repeat}
#over{ display:none; background:url(../images/snake_over.png) #F7F7F7 20px center no-repeat}
#over p,#pause p{ line-height:150px; font-size:14px; color:#f00}